
<%- include('partials/__header'); -%>

 <link rel="stylesheet" href="style.css">
    <div class="welcome-text">
        <p>WELCOME</p>
        <div class="buttons">
            <a href="/bahisal" class="btn btn-success run">BAHISAL</a>
            <a href="/betkanyon" class="btn btn-danger run">BETKANYON</a>
            <a href="/winxbet" class="btn btn-warning run">WINXBET</a>
        </div>
       
    
    </div>
    <script src="index.js"></script>
    <%- include('partials/__footer'); -%>